<!-- <h1 class="head" style="float:left ;" >Spotify</h1>

<div id="btn">
  <button id="btn1" type="button" class="btn btn-light"><a id="atr" routerLink="/login" click="goToLogIn()">Log In</a></button>
  <button id="btn1" type="button" class="btn btn-light"><a id="atr" routerLink="/signup">Sign Up</a></button>
</div>

<br>

<table class="table">
    <thead>
        <tr>
          <th id="c" scope="col">S.No</th>
          <th id="c" scope="col">Song Name</th>
          <th id="c" scope="col">Artist</th>
          <th id="c" scope="col">Genre</th>
          <th id="c" scope="col">Year</th>
        </tr>
      </thead>
    <tbody style="width: 50%;" *ngFor="let i of songArray">
      <tr id="c" class="c">
        <td id="c">{{i.id}}</td>
        <td id="c">{{i.songName}}</td>
        <td id="c">{{i.Artist}}</td>
        <td id="c"> {{i.songGenre}}</td>
        <td id="c">{{i.yearReleased}}</td>
      </tr>
    </tbody>
  </table> -->

  <router-outlet></router-outlet>
